<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/auth.style.css">
</head>
<body>

 <div class="container">
     
     <form action="/api/auth" method="post" enctype="application/x-www-form-urlencoded">
        <h1>Sign-in</h1>
        <input name="username" type="text" placeholder="username" autocomplete="off">
        <input name="password" type="text" placeholder="password" autocomplete="off">
        <button type="submit">Sign in</button>
    </form>
 </div>
    
</body>
</html>